.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*slick slider*/
/*.box{
    width: 250px;
    height: 250px;
    background-color: hotpink;
}*/

/*jQuery CurvedText*/

#text1
{
    margin:           3.0em 0.0em;
    overflow:         hidden;
    color:            #ffffff;
    background-color: #3fafee;
}